{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static '../static-dirs/albums/css/main.css' %}">
</head>
<body>
<h1>Albums</h1>
<p>This is a simple application powering a backend for a mobile app ( clone of itunes developed in react native)</p>
<p>Go to the google playstore, download the app and give it a good ratings </p>
<p>Enjoy!!</p>
<p>There is more to come on the matter just hold your hoses and keep calm</p>
<a href="{% url 'updates:about' %}">About</a>

<h4>Consider the following table for all the api functionalities, the endpoints and the sample JSON responce</h4>

</body>
</html>